@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


:root {
  --background-main: #edf4f7;
  --background-side: #f4f8fa;
  --primary-blue: #32444d;
  --secondary-blue: #b3c3cc;
  --primary-orange: #ff6719;
  --secondary-orange: #ffaa80;
}

body {
	font-family: 'Inter', serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--primary-blue);
	background-color: var(--background-main);
  display: grid;
  grid-template-columns: 320px 1fr;
  min-height: 100vh;
	}

nav {
  background-color: var(--background-side);
  padding: 48px;
}

main {
  padding: 48px;
}

h1 {
	font-size: 24px;
	font-weight: 700;
}

h2 {
  color: var(--secondary-blue);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 24px;
}

p {
  font-size: 24px;
}

rect {
  fill: var(--primary-orange);
  transition: fill 0.5s;
}

 circle.actual {
  fill: var(--primary-blue);
} 

text {
  fill: var(--secondary-orange);
  text-anchor: middle;
  font-size: 14px;
}

rect:hover {
  fill: var(--primary-blue);
}

text.steps {
opacity: 0;
transition: opacity .25s;
}

g:hover text.steps {
  opacity: 1;
}

rect.trans {
  opacity: 0;
} 

circle.ring {
  fill: none;
  stroke: var(--secondary-blue);
  stroke-width: 2px;
  opacity: 0.25;
}

text.day {
  opacity: 1;
  transition: opacity 0.25s;
}

g:hover text.day {
  opacity: 0;
}

svg.month text {
  fill: var(--secondary-blue);
}



