
@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 300;
  font-style: normal;
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.eot');
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.eot?#iefix') format('embedded-opentype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.woff2') format('woff2'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.woff') format('woff'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.ttf') format('truetype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.svg#Cooper Hewitt') format('svg');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 400;
  font-style: normal;
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.eot');
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.eot?#iefix') format('embedded-opentype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.woff2') format('woff2'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.woff') format('woff'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.ttf') format('truetype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.svg#Cooper Hewitt') format('svg');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 700;
  font-style: normal;
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.eot');
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.eot?#iefix') format('embedded-opentype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.woff2') format('woff2'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.woff') format('woff'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.ttf') format('truetype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.svg#Cooper Hewitt') format('svg');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 300;
  font-style: italic;
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.eot');
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.eot?#iefix') format('embedded-opentype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.woff2') format('woff2'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.woff') format('woff'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.ttf') format('truetype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.svg#Cooper Hewitt') format('svg');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 400;
  font-style: italic;
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.eot');
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.eot?#iefix') format('embedded-opentype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.woff2') format('woff2'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.woff') format('woff'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.ttf') format('truetype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.svg#Cooper Hewitt') format('svg');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 700;
  font-style: italic;
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.eot');
  src: url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.eot?#iefix') format('embedded-opentype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.woff2') format('woff2'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.woff') format('woff'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.ttf') format('truetype'),
       url('//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.svg#Cooper Hewitt') format('svg');
}
