@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  font-family: 'Space Mono', monospace;
  background: #000;
  font-size: 14px;
  line-height: 1.5;
  color: #eeeeee;
}

header {
margin: 150px auto 150px 100px;  
}

section {
  margin: 90px;
  color: #fff;
}

blockquote {
  background-color: #fff;
  color: #000;
  width: 630px;
  margin: auto 50px auto 90px;
}
.text {
  width: 350px;
}

footer {
  background: #1A1A1A;
}

@media (max-width: 350px) {
  section {
    padding: 20px;
  }